*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

button{
    width: 8.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
}

.hero, .footer{
    background-color: #1f2937;
}

a, .subtext, .image, .copy{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo, .awesome{
    color: #f9faf8;
}

.left, .right{
    width: 575px;
    height: 262px;
}

.random, .whole-quote{
    color: #1f2937;
}

button, .to{
    background-color: #3882f6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14vw;
    margin: 1rem 0;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 1rem;
}

.top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 9rem;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.awesome{
    font-size: 48px;
    font-weight: bolder;
    padding-right: 8rem;
}

.subtext{
    padding-right: 8rem;
}

.right{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    padding-bottom: 4rem;
}

.random{
    font-size: 36px;
    font-weight: bolder;
}

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 3.5rem 14vw;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 11rem;
    gap: 1rem;
}

.box{
    border: solid .35rem #3882f6;
    width: 10.5rem;
    height: 10.5rem;
    border-radius: 17px;
}

.text{
    text-align: center;
    font-size: 18px;
    color: darkslategray;
}

.quote{
    background-color: #e5e7eb;
}

.quote-container{
    display: flex;
    flex-direction: column;
    padding: 9rem 25vw;
}

.whole-quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.thor{
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    padding: 0 1rem;
}

.to{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin: 6rem 14vw;
    padding: 3.5rem 8rem;
    color:#f9faf8;
    border-radius: 10px;
}

.time{
    font-size: 24px;
    font-weight: bold;
}

.sign{
    font-size: 18px;
}

.border{
    border: solid 2px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}